<div class="container">
  <div class="row">
    <div class="col-md-6">
      
    </div>
    <div class="col-md-6">
      <%= form_with(model: @post, local: true) do |f| %>
        <h2>投稿作成ページ</h2>
        <div class="post-image-group">
          <%= f.label :画像, class: "brown-border px-3" %><br>
          <%= f.attachment_field :image %>
        </div>
        <div class="form-group">
          <%= f.label :内容（任意項目）%>
          <%= f.text_area :body, class: "form-control", placeholder: "任意項目です" %>
        </div> 
        <%= f.hidden_field :list_id, :value => @list.id %>   
        <%= f.submit "リストを作成", class: "btn btn-outline-primary offset-4 mt-3" %> 
      <% end %>
    </div>
  </div>
</div>
<%= link_to "投稿作成ページへ", new_post_path %>