<div class="container lists-show">
  <div class="row">
    <div class="comment col-md-6 mt-3">
       <% if @list.user_id == current_user.id %>
        <%= link_to "新規投稿", new_post_path(list_id: @list), class:"btn btn-success mb-3" %>
        <%= link_to "リスト編集", edit_list_path(@list), class:"btn btn-success mb-3" %>
      <% end %>
      <div class="list_show">
        <ul class="list-group list-group" style="max-width: 400px;">
          <% if @list.departure_date && @list.return_date %>
            <li class="list-group-item list-group-item-primary">
              <%= link_to user_path(@list.user) do %>
                <%= attachment_image_tag @list.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg", size:'60x60' %>
              <% end %>
              <%= @list.title %>　
            <li class="list-group-item list-group-item-primary">
              出発：<%= @list.departure_date %>　帰宅：<%= @list.return_date %>
            </li>
            </li>
          <% else %>
            <li class="list-group-item list-group-item-primary">
              <%= attachment_image_tag @list.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg", size:'60x60' %>
              <%= @list.title %>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="list-body">
        <h3 class="text_white">旅行内容</h3>
        <%= @list.body %>
      </div>
    </div>
    <div class="post-content col-md-6 mt-5">
      <% @posts.each do |post| %>
        <div class="post-image">
          <%= link_to post_path(post) do %>
            <%= attachment_image_tag post, :image, :fill, 400, 300,fallback: "no_image.jpg", size:'400x300' %>
          <% end %>
          <div class="profile-image">
            <%= link_to user_path(post.user) do %>
              <%= attachment_image_tag post.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg", size:'60x60' %>
            <% end %>
          </div>
          <div class="tag"> 
            <% post.list.tag_list.each do |tag| %>
              <span class="badge badge-info"><%= tag %></span>
            <% end %>
          </div>
          <p class="fav_<%= post.id %> like">
            <%= render 'posts/like', user: current_user, post: post %>
          </p>
        </div>
      <% end %>
      <% if request.from_pc? %>
        <%= paginate @posts %>
      <% end %>
    </div>
  </div>
</div>

        