<div class="container mt-4" style="margin-bottom:60px;">
  <div class="d-flex justify-content-center">
    <div class="d-flex flex-column">
      <h2 class="pb-1">プロフィール編集</h2>
      <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "つのエラー") %> により登録ができません:</h2>
          <ul>
            <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <%= form_with(model: @user) do |f| %>
        <div class="form-group">
          <%= f.label :名前・ニックネーム, class: "brown-border" %>
          <%= f.text_field :name, class: "form-control", placeholder: "8文字以下", id: "name" %>  
        </div>
        <div class="form-group">
          <%= f.label :メールアドレス, class: "brown-border" %>
          <%= f.email_field :email, class: "form-control", id: "email" %>
        </div>
        <div class="form-group">
          <%= f.label :プロフィール, class: "brown-border" %>
          <%= f.text_area :introduction, class: "form-control", id: "introduction" %>
        </div>
        <div class="post-image-group">
          <%= f.label :プロフィール画像, class: "brown-border" %><br>
          <%= f.attachment_field :profile_image, id: "upicon", class: "icon" %>
        </div>
        <div class="post-image-group">
          <%= f.label :背景画像, class: "brown-border" %><br>
          <%= f.attachment_field :background_image, id: "background_image" %>
        </div>
        <div>
          <%# // ajax処理で使う分のパラメータをhidden_fieldで持っておく %>
          <%= hidden_field_tag "action", params[:action] %>
          <%= hidden_field_tag "route", "users" %>
          <%= hidden_field_tag "idParams", @user.id %>
        </div>
        <div class="row dflex justify-content-around">
          <%= f.submit "編集内容を保存する", class: "submit_btn btn-outline-primary mt-3 submit_btn" %>
          <%= link_to "退会する" , withdraw_user_path(@user), class: "btn btn-danger mt-auto" %>
        </div>
      <% end %>
<div id="img_field">
  <%= attachment_image_tag @user, :profile_image %>
</div>

<%# 画像選択後のトリミング画面用div %>
<div class="overlay">
 <div class="crop_modal"></div>
 <div class="close_btn"></div>
 <div class="select_icon_btn">決定</div>
</div>
    </div>
  </div>
</div>




