<div class="container d-flex justify-content-between">
  <% if flash[:success] %>
    <script type="text/javascript">
      alert('プロフィールを更新しました');
    </script>
  <% end %>
  <div class="profile col-6">
    <li>
      <%= attachment_image_tag @user, :background_image, :fill, 570, 600,fallback: "no_image.jpg", size:'570x600',class: 'background_image' %>
      <p class="profile_image">
        <%= attachment_image_tag @user, :profile_image, :fill, 120, 120,fallback: "no_image.jpg", size:'120x120' %>
        <div class="follow_button d-flex justify-content-start">
          <%= @user.achievement %>　　
          <%= @user.name %>　　
          <%= "旅行：" + @lists.count.to_s + "回" %>　　
          <%= render 'follow_button', user: @user %>
          <%= link_to("フォロー:#{@user.followings.count}", relationships_path(anchor: "tab1"), class: "btn btn-success", data: {"turbolinks" => false}) %>　
          <%= link_to("フォロワー:#{@user.followings.count}", relationships_path(anchor: "tab2"), class: "btn btn-success", data: {"turbolinks" => false}) %>
        </div>
      </p>
    </li>
  </div>
  <div class="col-6 ">
    <div class="d-flex justify-content-around">
      <h2>旅行リスト一覧</h2>
      <p><%= link_to "リスト作成ページへ", new_list_path, class:"btn btn-success" %></p>
    </div>
    <% @lists.each do |list| %>
      <%= link_to list_path(list), class:"list-link" do %>
        <div class="d-flex justify-content-center list">
          <p><%= list.title %></p>
          <p>　　<%= list.departure_date %>〜</p>
          <p><%= list.return_date %></p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
