<div class="container">
  <div class="d-flex justify-content-center list-text-box mt-5">
    <%= form_with(model: @post, local: true) do |f| %>
        <h3 class="text_white">投稿編集</h3>
        <div class="post-image-group">
          <%= f.label :画像, class: "brown-border px-3" %><br>
          <div id="img_field">
            <%= attachment_image_tag @post, :image %>
          </div>
          <%= f.attachment_field :image, class: "image", id: "file" %>
        </div>
        <div class="form-group">
          <%= f.label :内容（任意項目）%>
          <%= f.text_area :body, class: "form-control", placeholder: "任意項目です" %>
        </div>   
        <div class="d-flex flex-row">    
          <%= f.submit "編集内容を保存", class: "btn btn-outline-primary col-5" %> 
          <%= link_to "投稿を削除", post_path(@post), method: :delete, class: "btn btn-outline-danger offset-2 col-5", data: { confirm: '削除しますか？' } %>
        </div>
      <% end %>
  </div>
</div>