<div class="container">
  <div class="row mt-4" style="margin-bottom:60px;">
    <div class="post-content col-md-6 mb-4">
      <div class="list_show">
        <ul class="list-group list-group" style="max-width: 400px;">
          <% if @post.list.departure_date && @post.list.return_date %>
            <li class="list-group-item list-group-item-primary">
              <%= link_to user_path(@post.user) do %>
                <%= attachment_image_tag @post.list.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg", size:'60x60' %>
              <% end %>
              <%= @post.list.title %>　
            </li>
            <li class="list-group-item list-group-item-primary">
              <%= link_to list_path(@post.list) do %>
                出発：<%= @post.list.departure_date %>　帰宅：<%= @post.list.return_date %>
              <% end %>
            </li>
          <% else %>
            <li class="list-group-item list-group-item-primary">
              <%= attachment_image_tag @post.list.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg", size:'60x60' %>
              <%= @post.list.title %>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="image"><%= attachment_image_tag @post, :image, :fill, 400, 300, fallback: "no_image.jpg", size:'400x300' %></div>
      <div class="d-flex justify-content-between">
        <div>
          <div class="tag_show mt-2"> 
            <% @post.list.tag_list.each do |tag| %>
              <span class="badge badge-info"><%= tag %></span>
            <% end %>
          </div>
          <% if current_user.id == @post.user.id %>
            <p><%= link_to "投稿編集", edit_post_path(@post), class: "btn btn-primary mt-2" %></p>
          <% end %>
        </div>
        <div class="fav_<%= @post.id %>">
          <%= render 'like', user: current_user, post: @post %>
        </div>
      </div>
      <p class="post-body"><%= @post.body %></p>
    </div>
    <div class="post-comments col-md-6">
    <div id="result">
      <%= render 'post_comments/error_message', post_comment: @post_comment %>
    </div>
      <% if @post_comment.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@post_comment.errors.count, "つのエラー") %> により登録ができません:</h2>
          <ul>
            <% @post_comment.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <h4>コメント</h4>
      <%= render 'comment', user: current_user, post: @post %>
      <div class="post_comment">
        <%= form_with(model: [@post, @post_comment]) do |f| %>
        <div class="row">
          <div class="col-sm-12">
            <%= f.text_area :comment, rows:'5', class: "form-control comment_form",placeholder: "コメントをここに", required: true %>
          </div>
        </div>
        <%= f.submit "送信する", class: "btn btn-lg btn-base-1 mt-20 pull-right" %>
        <% end %>
      </div>
    </div>
  </div>
</div>