<div class="container my-3">
  <h2>検索結果</h2>
  <div class="d-flex justify-content-center">
    <ul class="list-group list-group" style="max-width: 400px;">
      <% @lists.each do |list| %>
        <%= link_to list_path(list) do %>
          <% if list.departure_date && list.return_date %>
            <li class="list-group-item list-group-item-primary">
              <%= attachment_image_tag list.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg", size:'60x60' %>
              <%= list.title %>
            </li>
            <li class="list-group-item list-group-item-primary">
              出発：<%= list.departure_date %>　帰宅：<%= list.return_date %>
            </li>
          <% else %>
            <li class="list-group-item list-group-item-primary">
              <%= attachment_image_tag list.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg", size:'60x60' %>
              <%= list.title %>
            </li>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>

