<!DOCTYPE html>
<html>
  <head>
    <title>Tripshot</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>
  <body class="header_footer">
    <nav class="navbar navbar-expand-lg navbar-light  sticky-top" style="background-color: #E5FAF8;">
      <%= link_to "tripshot", root_path, class: "navbar-brand" %>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#Navber" aria-controls="Navber"
      aria-expanded="false" aria-label="ナビゲーションの切替">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="Navber">
        <%# ログイン時ヘッダー %>
        <% if user_signed_in? %>
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="">ようこそ！<%= current_user.name %>さん！<span class="sr-only">(現位置)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users/<%= current_user.id %>">マイページ</a>
            </li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">メニュー</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/posts">投稿一覧</a>
                <a class="dropdown-item" href="/rooms">チャット</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" data-method="delete" href="/users/sign_out">ログアウト</a>
              </div>
            </li>        
          </ul>
          <%= form_tag(search_path,:method => 'get', class:"form-inline my-2 my-lg-0") do %>
            <%= text_field_tag :search %>
            <%= select_tag :select, options_for_select([["ユーザー","ユーザー"],["リスト名","リスト名"],["リストのタグ","リストのタグ"]]) %>
            <%= submit_tag '検索', class:"btn btn-outline-success my-2 my-sm-0" %>
          <% end %>
        <% else %>
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="">ログインしてみんなの旅を見よう！<span class="sr-only">(現位置)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users/sign_up">会員登録</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users/sign_in">ログイン</a>
            </li>     
          </ul>
        <% end %>
      </div><!-- /.navbar-collapse -->
    </nav>
    <main>
      <%= yield %>
    </main>
    <footer class="footer" style="background-color: #E5FAF8;">
      <div class="container text-right mt-3">
        <p>copyright©tripshot.all rights reserved.</p>
      </div>
    </footer>
  </body>
</html>